---
import { GetStaticPathsOptions, Page } from 'astro'

import BaseLayout from '@/layouts/BaseLayout.astro'
import PaginateMenu from '@components/PaginateMenu.astro'
import PostLabel from '@components/PostLabel.astro'
import PostCards from '@components/card/PostCards.astro'
import dataPromise from '@data'
import type { BlogPost, BlogLabel } from '@data/types'

export interface Props {
  page: Page<BlogPost>
  label: BlogLabel
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const { posts, labels } = await dataPromise
  return Object.entries(labels).flatMap(([id, label]) =>
    paginate(
      posts.filter(({ labels: postLabels }) => postLabels.includes(label)),
      {
        params: { name: id.replace(': ', '-') },
        props: { label },
        pageSize: 12,
      },
    ),
  )
}

const { label, page } = Astro.props as Props
---

<BaseLayout title={`${label.id} in AC Dustbin`}>
  <Fragment slot="head">
    <meta
      name="description"
      content={`Page ${page.currentPage} of posts with label "${label.id}" in AC Dustbin. ` +
        'AC Dustbin is a place where Allan Chain writes his blogs.'}
    />
  </Fragment>
  <div class="max-w-7xl mx-auto">
    <h1>
      All posts with label
      <PostLabel label={label} size={1.5} />
    </h1>
    <PostCards posts={page.data} />
  </div>
  <PaginateMenu page={page} />
</BaseLayout>
