---
import { Page } from 'astro'
import { prefixLink } from '@/utils'

export interface Props {
  page: Page
}

const { page } = Astro.props as Props

const showingPages: (number | undefined)[] = []
if (page.lastPage <= 7) {
  for (let i = 1; i <= page.lastPage; i++) showingPages.push(i)
} else if (page.currentPage <= 1 + 3) {
  showingPages.push(1, 2, 3, 4, 5, undefined, page.lastPage)
} else if (page.currentPage >= page.lastPage - 3) {
  const lp = page.lastPage
  showingPages.push(1, undefined, lp - 4, lp - 3, lp - 2, lp - 1, lp)
} else {
  const cp = page.currentPage
  showingPages.push(1, undefined, cp - 1, cp, cp + 1, undefined, page.lastPage)
}
const pageItems: { pagenum?: number; active: boolean }[] = showingPages.map(
  (value) => ({ pagenum: value, active: value === page.currentPage })
)
---

<div flex items-center justify-center mb-4>
  <div>
    {
      page.url.prev ? (
        <a href={prefixLink(page.url.prev.slice(1))} class="theme-link">
          <i icon i-mdi-chevron-double-left />
        </a>
      ) : (
        <i class="icon i-mdi-chevron-double-left text-gray-300 dark:text-gray-600" />
      )
    }
  </div>
  <div select-none>
    {
      pageItems.map(({ pagenum, active }) =>
        pagenum === undefined || active ? (
          <span class="mx-2 text-gray-400 dark:text-gray-500">{pagenum || '...'}</span>
        ) : (
          <a
            href={
              pagenum === 1
                ? '..'
                : page.currentPage === 1
                ? `${pagenum}/`
                : `../${pagenum}/`
            }
            class="mx-2 decoration-none text-current"
          >
            {pagenum}
          </a>
        )
      )
    }
  </div>
  <div>
    {
      page.url.next ? (
        <a href={prefixLink(page.url.next.slice(1))} class="theme-link">
          <i icon i-mdi-chevron-double-right />
        </a>
      ) : (
        <i class="icon i-mdi-chevron-double-right text-gray-300 dark:text-gray-600" />
      )
    }
  </div>
</div>
