---
import { formatDate, formatLocalDate } from '@/utils'
export interface Props {
  createdAt: Date
  lastEditedAt: Date
}

const { createdAt, lastEditedAt } = Astro.props
---

<div my-1 text-gray-800 dark:text-gray-300 select-none>
  <!-- 
    The SSR-ed title is a fallback and will be replaced in client
    with client locale. See BaseLayout.astro for details.
  -->
  <div
    title={formatLocalDate(createdAt)}
    data-date={createdAt}
    inline-flex
    items-center
    text-center
  >
    <div i-mdi-calendar-month mr-1></div>
    <div>{formatDate(createdAt)}</div>
  </div>
  <div inline-block w-3></div>
  <div
    title={formatLocalDate(lastEditedAt)}
    data-date={lastEditedAt}
    inline-flex
    items-center
    text-center
  >
    <div i-mdi-calendar-edit mr-1></div>
    <div>{formatDate(lastEditedAt)}</div>
  </div>
</div>
